* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

}

.container {
  width: 90%;
  max-width: 600px;
  background: #19aa9e;
  margin-top: 2rem;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.card {
  background: #e79a26;
  border-radius: 12px;
  height: 80px;
  width: 200px;
  text-align: center;
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input,
select {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  width: 100px;
  
  
}

#reset-btn {
  background-color: #f44336;
  color: white;
  width: 100px;
  
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
}

.filters label {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #b3b011;
  border-left: 5px solid;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.income {
  border-color: #b90f78;
}

li.expense {
  border-color: #f44336;
}

.actions button {
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 0.9rem;
  gap: 10px;
}

.edit-btn {
  background-color: #2196f3;
  color: white;
  width:50px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  width:50px;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 600px) {
  .summary {
    flex-direction: column;
  }
}
